# Data Engineering

In [1]:
# Dependencies
import pandas as pd

In [2]:
# Use Pandas to read in the measurement and station CSV files as DataFrames
measurements_df = pd.read_csv("Resources/hawaii_measurements.csv")
stations_df = pd.read_csv("Resources/hawaii_stations.csv")

### Clean Measurements Data

In [3]:
measurements_df.head()
#measurements_df.shape ---> (19550, 4)

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [4]:
# Inspect the data for NaNs and missing values.

measurements_df.isnull().any()
measurements_df.isnull().sum()

#1447 out of 19550 rows missing precipitation data./
#I am not sure whether it is because there was no rain at all or no record for that day/
# So I will drop the rows with the misssing value

station       0
date          0
prcp       1447
tobs          0
dtype: int64

In [5]:
# Drop N/A
clean_measurements_df = measurements_df.dropna()
clean_measurements_df.shape

(18103, 4)

In [6]:
clean_measurements_df.to_csv('clean_csv/clean_measurements.csv')
clean_measurements_df.dtypes

station     object
date        object
prcp       float64
tobs         int64
dtype: object

### Clean Stations Data

In [7]:
stations_df.head()
#stations_df.shape ---> (9, 5)

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [8]:
# Inspect the data for NaNs and missing values. Allclear

stations_df.isnull().any()

station      False
name         False
latitude     False
longitude    False
elevation    False
dtype: bool

In [9]:
clean_stations_df = stations_df
clean_stations_df.to_csv('clean_csv/clean_stations.csv')
clean_stations_df.dtypes

station       object
name          object
latitude     float64
longitude    float64
elevation    float64
dtype: object

### Merge Two Dataframe

In [10]:
# data_df = pd.merge(clean_measurements_df, clean_stations_df, how = 'inner', on='station')
# #data_df.shape ---> (18103, 8)
# data_df.head()

In [11]:
# data_df.to_csv('clean_csv/clean_hawaii.csv')